<%- include("templates/encabezado") %>
<h1>Editar Usuario</h1>
    <div>
        <form action="/EditarUsuario" method="post" id="formulario">
            <input type="hidden" value="<%= idusuario %>" name="idusuario">
            <label for="nombre">Nombre: </label><span class="ocultar errorNombre">Nombre no válido</span>
            <input value="<%= nombre %>" class="" autofocus name="nombre" id="nombre" type="text" placeholder="Nombre"><span></span>
            <i class="ocultar xmarkErrorNombre fa-solid fa-circle-xmark"></i>
            <i class="ocultar checkMarkNombre fa-solid fa-circle-check"></i>
            
            <label for="celular">Celular: </label><span class="ocultar errorCelular">Celular no válido</span>
            <input value="<%= celular %>" name="celular" id="celular" type="text" placeholder="Celular"><span></span>
            <i class="ocultar xmarkErrorCelular fa-solid fa-circle-xmark"></i>
            <i class="ocultar checkMarkCelular fa-solid fa-circle-check"></i>

            <label for="correo">Correo: </label><span class="ocultar errorCorreo">Correo no válido</span>
            <input value="<%= correo %>" name="correo" id="correo" type="text" placeholder="Correo"><span></span>
            <i class="ocultar xmarkErrorCorreo fa-solid fa-circle-xmark"></i>
            <i class="ocultar checkMarkCorreo fa-solid fa-circle-check"></i>
            <button type="submit">Editar Usuario</button>
        </form>
    </div>

<%- include("templates/pie") %>