<%- include("templates/encabezado") %>
<h1>Editar Producto</h1>
<div>
    <form action="/EditarProducto" method="post" id="formularioproducto">
        <input type="hidden" value="<%= producto.idproducto %>" name="idproducto">
        <label for="nombre">Nombre: </label><span class="ocultar errorNombre"></span>
        <input value="<%= producto.nombre %>" class="" autofocus name="nombre" id="nombre" type="text" placeholder="Nombre"><span></span>
        
        <label for="descripcion">Descripcion: </label><span class="ocultar errorDescripcion"></span>
        <input value="<%= producto.descripcion %>" name="descripcion" id="descripcion" type="text" placeholder="Descripción"><span></span>
        
        <label for="cantidad">Cantidad: </label><span class="ocultar errorCantidad"></span>
        <input value="<%= producto.cantidad %>" name="cantidad" id="cantidad" type="text" placeholder="Cantidad"><span></span>
        
        <button type="submit">Editar Producto</button>
    </form>
</div>
<%- include("templates/pie") %>