<%- include("templates/encabezado") %>
<h1>Tus datos son: </h1>
<h4>Nombre: <%= nombre  %></h4>
<h4>Descripcion: <%= descripcion  %></h4>
<h4>Cantidad: <%= cantidad %></h4>
<%- include("templates/pie") %>